{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Logviewer</h1>
        <h5 class="header col s12 light grey-text">Questo sito è usato per visualizzare gli ingressi log VincyBot07.</h5>
        <br>
        <div class="row center">
            <a href="https://github.com/VincyBot07/VincyBot07" class="btn waves-effect my-button">Github</a>
            <a href="https://github.com/VincyBot07/VincyBot07/wiki" class="btn waves-effect my-button">Wiki</a>
            <a href="https://discord.gg/uDNFjE4" class="btn waves-effect my-button">Discord</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
